@import "tailwindcss";
/* Reset css */
*,::after,::before {
  box-sizing: border-box;
  
  
  text-decoration: none;
}

/* Classes CSS personnalisées - à remplir avec les codes couleur */
.tvert {
  color: #b0ca0b; /* Couleur texte vert - à remplacer */
}

.tviolet {
  color: #801c54; /* Couleur texte violet - à remplacer */
}

.bvert {
  background-color: #b0ca0b; /* Couleur fond vert - à remplacer */
}

.bviolet {
  background-color: #801c54; /* Couleur fond violet - à remplacer */
}






